.button {
  // font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  display: block;
}
