.page-header__navigation {
  padding-top: 12px;
}

.page-header__logo {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.page-header__background {
  @media (min-width: $desktop) {
    background-image: url("../img/background-max.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: $cat-background;
  }
}
