@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: local("Oswald"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: local("Oswald"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav__list {
  list-style: none;
}

.page-body {
  font-family: "Oswald", "Arial", sans-serif;
  // font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  background-color: $basic-background;
  height: 100%;
  color: $main-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 280px;
}

.heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
}

.button {
  // font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $reverse-color;
  background-color: $button-background;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  display: block;
}
