// Colors

$main-color: #000000;
$reverse-color: #ffffff;
$text-color: #444444;
$invite-color: #111111;
$socials-color: #666666;
$border-color: #e6e6e6;
$slider-border: #cdcdcd;
$line-color: #d9d9d9;

// Background-colors

$basic-background: #ffffff;
$button-background: #68b738;
$hover-button-background: #5eaa2f;
$basic-grey: #f2f2f2;
$live-background: #eaeaea;
$cat-background: #63a63b;
$slider-switch: #68b738;
